<app-nav-menu></app-nav-menu>
    <h1 align="center" style="padding-top: 10px">My Profile</h1>
<mat-divider style="padding-bottom: 20px"></mat-divider>

<div class="container" fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="5px">

  <mat-card fxFlex="0 1 calc(40% - 20px)" class="product" >
    <div *ngIf="myProfile" align="center">
    <img class="image" mat-card-image src={{myProfile.photoURL}} alt="photo">
    </div>
  </mat-card>
  <mat-card fxFlex="0 1 calc(60% - 20px)" class="product">
    <p style="font-size: 25px" align="center">{{myProfile.firstName}} {{myProfile.lastName}}</p>
    <p> <span style="font-weight: lighter">Birth Date -  </span> {{myProfile.dob}}</p>
    <p> <span style="font-weight: lighter">Address - </span> {{myProfile.address}}</p>
    <p> <span style="font-weight: lighter">Email - </span>{{myProfile.email}}</p>
    <p *ngIf="myProfile.confirmIdentity==true"><span style="color: green">Identity Confirmed</span></p>
    <p *ngIf="myProfile.confirmIdentity==false" align="center"> <span style="font-weight: lighter; color: red">Identity Confirmation Pending </span></p>
    <div *ngIf="myProfile.confirmIdentity==false">
      <p style="font-size: 14px; font-weight: bold">**Submit your Driving License and a recent utility or tax bill within 3 months to confirm your identity</p>
      <input type="file" (change)="selectDL($event)" />
    <div style="padding-top: 10px">
      <input type="file" (change)="selectProof($event)" />
    </div>
      <div align="end">
        <button mat-raised-button color="primary" (click)="confirmIdentity()" class="button" [disabled]="!(drivingLicense && proof)">Confirm Identity</button>
      </div>
    </div>
  </mat-card>
</div>

<app-about-us-footer></app-about-us-footer>

