/* Structure */
.container {
    display: flex;
    flex-direction: column;
    margin-bottom: 3%;
  }

  /* Toolbar */
  .spacer {
    flex: 1 1 auto;
  }
.value{
  color:#737e88;
}
  /* Filter */
  .form {
    min-height: 56px;
    max-height: 56px;
    display: flex;
    align-items: center;
    padding: 8px 24px 0;
    font-size: 20px;
    justify-content: space-between;
    border-bottom: 1px solid transparent;
  }

  .mat-form-field {
    font-size: 14px;
    flex-grow: 1;
    margin-top: 8px;
  }

  /* Mat table */
  .no-results {
    display: flex;
    justify-content: center;
    padding: 14px;
    font-size: 14px;
    font-style: italic;
  }

th{
  width: 7%;
}

th:nth-child(7){
  width: 15%;
}

  table {
    width: 100%;
  }

  tr.example-detail-row {
    height: 0;
  }

  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }

  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }

  .example-element-row td {
    border-bottom-width: 0;
  }

  .example-element-detail {
    overflow: hidden;
    display: flex;
  }


  .example-element-description {
    padding: 14px;
  }

  .example-element-description-attribution {
    opacity: 0.5;
  }

h1{
  padding-top: 20px;
}
