<div class="container" *ngIf="data.entity==='hirer'">
    <h3 mat-dialog-title>Update Hirer</h3>

    <div>
      <div>
        <mat-slide-toggle [(ngModel)]="data.blackListed"> {{getStatus()}}</mat-slide-toggle>

      </div>
      <div>
        <mat-slide-toggle [(ngModel)]="data.confirmIdentity"> {{getStatusIdentity()}}</mat-slide-toggle>

      </div>


      <div mat-dialog-actions>
        <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Update Status</button>
        <button mat-button (click)="onNoClick()">Cancel</button>

      </div>
  </div>
  </div>

  <div class="container" *ngIf="data.entity==='booking'">
    <h3 mat-dialog-title>Status</h3>
    <div>
      <mat-slide-toggle [(ngModel)]="data.blackListed"> {{getStatus()}}</mat-slide-toggle>
      <div class="form">
        <mat-form-field color="accent">
            <mat-label>Booking Status</mat-label>
            <mat-select [(ngModel)]="data.bookingStatus" name="bookingStatus">
              <mat-option *ngFor="let status of bookingStatus" [value]="status">
                {{status}}
              </mat-option>
            </mat-select>
        </mat-form-field>
      </div>

      <div mat-dialog-actions>
        <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Update Status</button>
        <button mat-button (click)="onNoClick()">Cancel</button>

      </div>
  </div>
  </div>
